@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
}

* {
  padding: 0;
  margin: 0;
}

.container {
  box-shadow: 2px -1px 5px #dcdcdc, -2px 1px 5px #dcdcdc;
  border-radius: 2px;
  padding: 0em 0em 5em 0em;
}

.trump_small {
  background-size: 100%;

  background-repeat: no-repeat;
  background-image: url("http://dynaimage.cdn.turner.com/cnn-elections/candidates/g_face,c_thumb,h_120,w_120/2e95ce80-trump-1x1.jpg");
  padding: 50px 50px;
  border: 3px solid #666;
  border-radius: 50%;

  box-shadow: 1px 5px 115px #ffb544, -1px -5px 115px darksalmon;
  margin-bottom: 2em;
  animation: fadeIn 3s infinite alternate;
}

.page-header {
  margin: 4em 0 0 0;
  padding: 3em;
}

.page-header > h1 {
  font-family: Georgia;
  font-size: 5em;
  text-shadow: 2px 1px 1px black, -1px -1px 100px red;
}

.subtitle {
  font-family: helvetica;
  color: #657;
  font-size: 1.5em;
}

.container .jumbotron {
  border-radius: 0px;
  /*   background-color: #ffb544; */
  padding: 0em;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 0;
}

.grd {
  opacity: 0.8;
}

h2#cout {
  font-family: Times New Roman;
  padding: 1em;
  font-style: italic;
}

p.author {
  font-weight: bold;
  margin-right: 10%;
  font-size: 1.8em;
}

.badg {
  font-size: 1.5em;
  font-weight: bold;
  color: orange;
}

h4 {
  font-weight: normal;
  padding: 1.5em 0 2em 1.5em;
}

.panel-footer {
  background-color: #797980;
  color: white;
  font-size: 14px;
  padding-top: 2em;
}

a {
  color: blue;
}

p {
  font-size: 1.5em;
  font-family: helvetica;
}

.list-item {
}

hr {
}

footer {
  background-color: black;
  color: white;
  font-size: 8px;
  padding-top: 12.6em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.list {
  background-color: #363636;
  list-style-type: none;
  color: white;
  margin: 0;
  width: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.panel > .home__trumpLife > .home__kid img {
  width: 300px;
  height: auto;
  padding: 50px;
  border: darksalmon 2px solid;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: darksalmon;
  margin: 70px;
}

.home__kid {
  display: flex;
  align-items: center;
  padding-right: 20px;
  width: 100vw;
}

.home__kidImage {
  margin: 50px;
}

.home__kidCaption {
  width: 50vw;
}

.home__teen {
  display: flex;
  align-items: center;
  padding-right: 20px;
  width: 100vw;
}

.home__teenImage {
  width: 300px;
  height: auto;
  padding: 50px;
  border: darksalmon 2px solid;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: darksalmon;
  margin: 70px;
}

.home__teenCaption {
  width: 50vw;
}

.home__adult {
  display: flex;
  align-items: center;
  padding-left: 80px;
  width: 100vw;
}

.home__adultImage {
  width: 300px;
  height: auto;
  padding: 50px;
  border: darksalmon 2px solid;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: darksalmon;
  margin: 70px;
}

.home__adultCaption {
  width: 50vw;
}

.home__president {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px;
  width: 100vw;
}

.home__presidentImage {
  width: 60vw;
  height: auto;
  padding: 50px;
  border: darksalmon 2px solid;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: darksalmon;
  margin: 70px;
}

.home__presidentCaption {
  width: 50vw;
}
