.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: crimson;
}

.navbar__image {
  height: 80px;
  width: auto;
  margin: 5px;
}

.navbar__left {
}

.navbar__right {
  flex-direction: flex-end;
  padding-right: 20px;
}

.navbar__link {
  margin: 10px;
  text-decoration: none;
  color: white;
  transition: 0.8s ease-in-out;
}

.navbar__link:hover {
  color: aliceblue;
}
