.trumpLanding {
  background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpsh-ex-ftnikkei-3937bb4%2Fimages%2F0%2F5%2F0%2F5%2F29465050-3-eng-GB%2FCropped-1600553221trump.jpg?source=nar-cms&width=1600&height=900&fit=cover&gravity=faces);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trumpLanding__typewriter {
  padding-right: 40vw;
  color: darksalmon;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 80px;
  font-family: "Sacramento", cursive;
}

.landingButton {
  height: 6vw;
  width: 15vw;
}
