.trumpNews {
  background-color: darksalmon;
  padding: 70px;
}

.trumpNews__sectionHeader {
  font-family: "Sacramento", cursive;
  margin-bottom: 30px;
}

.trumpNews__container {
  display: grid;
  row-gap: 50px;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 13% 13% 13%;
  justify-content: center;
}
