.trumpNews {
  background-color: aliceblue;
  padding: 70px;
}

.trumpNews__sectionHeader {
  font-family: "Sacramento", cursive;
  margin-bottom: 30px;
  font-size: 60px;
}

.trumpNews__container {
  display: grid;
  row-gap: 50px;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 28% 28% 28% 28;
  justify-content: center;
  place-content: center;
}

@media (max-width: 1450px) {
  .trumpNews__container {
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 20%;
  }
}

@media (max-width: 996px) {
  .trumpNews__container {
    grid-template-columns: 50%;

    width: 100%;

    grid-template-rows: 10%;

    padding-bottom: 20px;
  }

  .trumpNews {
    padding: 2px;
  }
}
